DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,sendaoroi.org,www.sendaoroi.org
DJANGO_SITE_ID=1
TIME_ZONE=Europe/Madrid

POSTGRES_DB=sendaoroi
POSTGRES_USER=sendaoroi
POSTGRES_PASSWORD=sendaoroi
POSTGRES_HOST=db
POSTGRES_PORT=5432

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=info@sendaoroi.org
CONTACT_EMAIL=info@sendaoroi.org
